
### This dataset contains the season stats of all NBA players from the year 1980 to 2022
### GOAL --> Transform the data into averages of all NBA players from the year 1980 to 2022

# Loading the Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NBA_Player_Stats.csv')

# Exploratory Data Analysis

In [3]:
df.head(10)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-98,False
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997-98,False
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997-98,False
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997-98,False
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997-98,False
5,4,Cory Alexander,PG,24,DEN,23,19,34.7,4.8,11.1,...,3.9,4.3,6.0,2.0,0.3,2.8,2.0,14.0,1997-98,False
6,5,Ray Allen*,SG,22,MIL,82,82,40.1,6.9,16.0,...,3.4,4.9,4.3,1.4,0.1,3.2,3.0,19.5,1997-98,False
7,6,Derek Anderson,SF,23,CLE,66,13,27.9,3.6,8.9,...,2.0,2.8,3.4,1.3,0.2,1.9,2.1,11.7,1997-98,False
8,7,Greg Anderson,C,33,ATL,50,0,8.0,0.7,1.6,...,1.6,2.4,0.3,0.4,0.2,0.3,1.7,1.8,1997-98,False
9,8,Kenny Anderson,PG,27,TOT,61,56,30.5,4.4,11.0,...,2.2,2.8,5.7,1.4,0.0,2.3,2.2,12.2,1997-98,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14573 entries, 0 to 14572
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      14573 non-null  int64
 1   Player  14573 non-null  object
 2   Pos     14573 non-null  object
 3   Age     14573 non-null  int64
 4   Tm      14573 non-null  object
 5   G       14573 non-null  int64
 6   GS      14573 non-null  int64
 7   MP      14573 non-null  float64
 8   FG      14573 non-null  float64
 9   FGA     14573 non-null  float64
 10  FG%     14485 non-null  float64
 11  3P      14573 non-null  float64
 12  3PA     14573 non-null  float64
 13  3P%     12375 non-null  float64
 14  2P      14573 non-null  float64
 15  2PA     14573 non-null  float64
 16  2P%     14419 non-null  float64
 17  eFG%    14485 non-null  float64
 18  FT      14573 non-null  float64
 19  FTA     14573 non-null  float64
 20  FT%     13824 non-null  float64
 21  ORB     14573 non-null  float64
 22  DRB     14573 non-null  float64
 23  TRB     14573 non-null  float64
 24  AST     14573 non-null  float64
 25  STL     14573 non-null  float64
 26  BLK     14573 non-null  float64
 27  TOV     14573 non-null  float64
 28  PF      14573 non-null  float64
 29  PTS     14573 non-null  float64
 30  Season  14573 non-null  object
 31  MVP     14573 non-null  bool
dtypes: bool(1), float64(23), int64(4), object(4)
memory usage: 3.5+ MB

In [5]:
df.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14485.000000,14573.000000,14573.000000,...,13824.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000,14573.000000
mean,244.332876,26.705483,45.544500,21.565429,19.623626,2.932046,6.598586,0.432377,0.590894,1.703637,...,0.726241,0.909984,2.522013,3.429953,1.758114,0.621540,0.390167,1.132368,1.781740,7.853057
std,139.596859,4.252495,26.110389,27.035594,9.957188,2.133970,4.541544,0.104592,0.698191,1.840081,...,0.152562,0.804527,1.766841,2.433847,1.761888,0.439759,0.460479,0.787383,0.826657,5.840447
min,1.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,124.000000,23.000000,22.000000,0.000000,11.400000,1.300000,3.100000,0.393000,0.000000,0.100000,...,0.660000,0.300000,1.300000,1.700000,0.500000,0.300000,0.100000,0.600000,1.200000,3.400000
50%,243.000000,26.000000,48.000000,7.000000,18.900000,2.400000,5.500000,0.435000,0.300000,1.100000,...,0.750000,0.700000,2.200000,2.900000,1.200000,0.500000,0.200000,1.000000,1.800000,6.400000
75%,361.000000,30.000000,70.000000,39.000000,27.700000,4.100000,9.200000,0.479000,1.000000,2.800000,...,0.822000,1.300000,3.300000,4.600000,2.300000,0.900000,0.500000,1.500000,2.400000,11.100000
max,605.000000,44.000000,85.000000,83.000000,43.700000,12.200000,27.800000,1.000000,5.300000,13.200000,...,1.000000,6.800000,12.000000,18.000000,12.800000,3.000000,6.000000,5.700000,6.000000,36.100000

In [6]:
print('Number of unique players:', len(df['Player'].unique()))

Number of unique players: 2374

In [7]:
print('Number of unique teams:', df['Tm'].unique())

Number of unique teams: ['SAC' 'VAN' 'TOT' 'SAS' 'DEN' 'MIL' 'CLE' 'ATL' 'POR' 'BOS' 'ORL' 'UTA'
 'DAL' 'SEA' 'GSW' 'CHH' 'MIA' 'LAC' 'PHI' 'LAL' 'NJN' 'IND' 'TOR' 'CHI'
 'NYK' 'PHO' 'HOU' 'MIN' 'WAS' 'DET' 'MEM' 'NOH' 'CHA' 'NOK' 'OKC' 'BRK'
 'NOP' 'CHO']

In [29]:
print('Duplicated values:\n', df.isnull().sum())

Duplicated values:
 Rk           0
Player       0
Pos          0
Age          0
Tm           0
G            0
GS           0
MP           0
FG           0
FGA          0
FG%         88
3P           0
3PA          0
3P%       2198
2P           0
2PA          0
2P%        154
eFG%        88
FT           0
FTA          0
FT%        749
ORB          0
DRB          0
TRB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
PTS          0
Season       0
MVP          0
dtype: int64

In [9]:
print('Number of MVPs:', df['MVP'].value_counts())

Number of MVPs: MVP
False    14548
True        25
Name: count, dtype: int64

In [10]:
print('Number of players every season:', df['Season'].value_counts())

Number of players every season: Season
2021-22    803
2018-19    699
2020-21    696
2017-18    655
2019-20    642
2014-15    642
2010-11    616
2013-14    602
2016-17    586
2007-08    586
2003-04    576
2004-05    576
2008-09    573
2015-16    569
2009-10    569
2012-13    564
2005-06    554
2011-12    542
1997-98    538
2000-01    528
2006-07    507
1998-99    498
2001-02    491
1999-00    487
2002-03    474
Name: count, dtype: int64

In [11]:
print('Number of unique positions:', df['Pos'].unique())

Number of unique positions: ['PG' 'SG' 'SF' 'C' 'PF' 'SG-SF' 'SG-PG' 'PF-C' 'SF-SG' 'SF-PF' 'PF-SF'
 'C-PF' 'PG-SG' 'PG-SF' 'SG-PF' 'SF-C']

In [12]:
df['Age'].unique()

array([28, 23, 21, 24, 22, 33, 27, 30, 29, 26, 25, 34, 32, 19, 36, 31, 38,
       35, 37, 40, 39, 20, 18, 41, 42, 44, 43], dtype=int64)

# Cleaning the Data

#### Converting so it has 5 unique positions (PG, SG, SF, PF, C)

In [13]:
df['Pos'].replace('PG-SG', 'PG', inplace=True)
df['Pos'].replace('PG-SF', 'PG', inplace=True)
df['Pos'].replace('SG-SF', 'SG', inplace=True)
df['Pos'].replace('SG-PG', 'SG', inplace=True)
df['Pos'].replace('SG-PF', 'SG', inplace=True)
df['Pos'].replace('SF-SG', 'SF', inplace=True)
df['Pos'].replace('SF-PF', 'SF', inplace=True)
df['Pos'].replace('SF-C', 'SF', inplace=True)
df['Pos'].replace('PF-C', 'PF', inplace=True)
df['Pos'].replace('PF-SF', 'PF', inplace=True)
df['Pos'].replace('C-PF', 'C', inplace=True)

#### Creating a new dataframe for cleaned data

In [14]:
cleaned_df = pd.DataFrame(columns = df.columns)
cleaned_df = cleaned_df.drop(['Rk', 'Age', 'Season', 'MVP'], axis=1)

#### Creating a list of all unique NBA players

In [15]:
players = df['Player'].unique()
players

array(['Mahmoud Abdul-Rauf', 'Tariq Abdul-Wahad', 'Shareef Abdur-Rahim',
       ..., 'Moses Wright', 'Gabe York', 'Omer Yurtseven'], dtype=object)

#### Inserting the mean statistics of each unique player

In [16]:
for i in range(len(players)):
    current_player = players[i]
    player_stats = df[df['Player'] == current_player]
    
    cleaned_df.loc[i, 'Player'] = current_player
    cleaned_df.loc[i, 'Pos'] = player_stats['Pos'].value_counts().idxmax()
    cleaned_df.at[i, 'Tm'] = player_stats['Tm'].unique()
    cleaned_df.loc[i, 'G'] = round(player_stats['G'].mean(), 1)
    cleaned_df.loc[i, 'GS'] = round(player_stats['GS'].mean(), 1)
    cleaned_df.loc[i, 'MP'] = round(player_stats['MP'].mean(), 1)
    cleaned_df.loc[i, 'FG'] = round(player_stats['FG'].mean(), 1)
    cleaned_df.loc[i, 'FGA'] = round(player_stats['FGA'].mean(), 1)
    cleaned_df.loc[i, 'FG%'] = round(player_stats['FG%'].mean() * 100, 1)
    cleaned_df.loc[i, '3P'] = round(player_stats['3P'].mean(), 1)
    cleaned_df.loc[i, '3PA'] = round(player_stats['3PA'].mean(), 1)
    cleaned_df.loc[i, '3P%'] = round(player_stats['3P%'].mean() * 100, 1)
    cleaned_df.loc[i, '2P'] = round(player_stats['2P'].mean(), 1)
    cleaned_df.loc[i, '2PA'] = round(player_stats['2PA'].mean(), 1)
    cleaned_df.loc[i, '2P%'] = round(player_stats['2P%'].mean() * 100, 1)
    cleaned_df.loc[i, 'eFG%'] = round(player_stats['eFG%'].mean() * 100, 1)
    cleaned_df.loc[i, 'FT'] = round(player_stats['FT'].mean(), 1)
    cleaned_df.loc[i, 'FTA'] = round(player_stats['FTA'].mean(), 1)
    cleaned_df.loc[i, 'FT%'] = round(player_stats['FT%'].mean() * 100, 1)
    cleaned_df.loc[i, 'ORB'] = round(player_stats['ORB'].mean(), 1)
    cleaned_df.loc[i, 'DRB'] = round(player_stats['DRB'].mean(), 1)
    cleaned_df.loc[i, 'TRB'] = round(player_stats['TRB'].mean(), 1) 
    cleaned_df.loc[i, 'AST'] = round(player_stats['AST'].mean(), 1)
    cleaned_df.loc[i, 'STL'] = round(player_stats['STL'].mean(), 1)
    cleaned_df.loc[i, 'BLK'] = round(player_stats['BLK'].mean(), 1)
    cleaned_df.loc[i, 'TOV'] = round(player_stats['TOV'].mean(), 1)
    cleaned_df.loc[i, 'PF'] = round(player_stats['PF'].mean(), 1)
    cleaned_df.loc[i, 'PTS'] = round(player_stats['PTS'].mean(), 1)
    cleaned_df.loc[i, 'Age at First Season'] = player_stats['Age'].min()
    cleaned_df.loc[i, 'Age at Last Season'] = player_stats['Age'].max()
    cleaned_df.loc[i, 'Num Season(s)'] = len(player_stats['Season'].unique())
    cleaned_df.loc[i, 'MVP(s)'] = player_stats['MVP'].values.sum()

cleaned_df = cleaned_df.astype({'Age at First Season' : int, 'Age at Last Season' : int, 'Num Season(s)' : int, 'MVP(s)' : int})

In [17]:
cleaned_df.to_csv('cleaned_NBA_Player_Stats.csv')